<%- include('../includes/head.ejs') %>
<%- include('../includes/navigation.ejs') %>
    </head>
    <main>
        <h1>Hello cart!</h1>
    </main>
    <body>

        <%- include('../includes/end.ejs') %>